body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 125%;
}

input {
  font-size: 110%;
  text-align: center;
  border: none;
  color: black;
  background-color: white;
  padding: 0px 0px;
  cursor: pointer;
}

.ui {font-size: 150%; color: white}

a {color: #ff00ff;}
